#grad1 {
    height: 2120px;
    background-color: #9467C1; /* For browsers that do not support gradients */
    background-image: linear-gradient(#9467C1, #85BFE5);
  }

  body, #images, #images a {
    font-family: 'Poppins' !important;
 }